body {
    scroll-behavior: smooth;
    background-color: skyblue;
    background: url("assets/sable1.webp");
}

/* NavBar */
header {
    padding-right: 3%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.nav-left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.nav-left h1 {
    color: brown;
}

.nav-right{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

nav a {
    color: green;
    text-decoration: none;
}

/* Body */
.title {
    padding-top: 120px;
    color: brown;
    text-align: center;
    font-size: 40px;
}